
.main 
{
    width:65%;
    background-color: rgb(31,21,39);
    margin:auto;
    margin-top:20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    border-radius: 45px 45px 0 0;
} 
.container
{
	display: block;
    width: 80%;
    margin:auto;
    margin-top:20px;
	overflow: hidden;
    padding-top: 150px;
    border:2px dotted white;
    border-radius:45px 45px 0 0;
}
.section-slope
{
	margin: 0 -50px;
	transform-origin: right center;
}
.section-slope:nth-child(odd)
{
	background:  rgb(31,21,39);
	transform: rotate(-5deg);
	margin-top: -200px;
}
.section-slope:nth-child(even)
{
	background: rgb(232,222,213);
	transform: rotate(-5deg);
}
.section-slope:nth-child(odd) .section-content
{
	transform: rotate(5deg);
	color: white;
	padding: 100px 50px 150px 100px;
}
.section-slope:nth-child(even) .section-content
{
	transform: rotate(5deg);
	color: #000;
	padding: 150px 100px 250px 100px;
} 

.section-content{
	margin: 0;
}
 .section-content h3{
	font-size: 16px;
	font-weight: 20;
	text-align: center;
	padding: 10px 30px 8px 30px;
	font-family: 'Pacifico', cursive;
	letter-spacing: 10px;
} 
 .section-content h3:first-letter {
	font-size:100px;
} 

.section-content p{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	font-size: 20px;
	line-height: 24px;
	word-spacing:10px;
	padding-top: 10px;
} 
 .section-content p:first-letter{
	font-size: 40px;
} 
 
span {
	margin-left: 300px;
	margin-bottom: 50px;
} 

