
.headi{
    position: sticky;
}


body{
    margin-left: 100px;
    margin-right: 100px;
    
    

}
.upper{
    padding-top: 40px;
    background-color: grey;
 
    
}
.pic{
    
    border: 5px dotted;
    border-color: yellow;
    border-radius: 100%;
    width: 10rem; 
    height: 10rem;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.head{
    background-color: gold;
    padding: 15px;
    /* margin: 410px; */
    margin-left:530px;
    font-size: 40px;
    border-radius: 2px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
   
    
    
}
.mid{
    height: 40px;
    background-color: whitesmoke;
}

.low{
    height: 30px;
    background-color: grey;
}
.ad{
    text-align: center;
    background-color: white;
    margin-bottom: 5px;
}
.cont-head{
    color: grey;
    font-size: 120%;
    margin-left: 15px;
    padding-bottom: 20%;
}
.profile{
  padding-left: 2%;
  margin-top:0px;
  margin-bottom: 5px;
  background-color: white;
}

.skills{
  padding-left: 2%;
  background-color: white;
  margin-top: 5px;
}
.WorkEx{
    padding-left: 2%;
    background-color: white;
    margin-left: 5px;
}
.WorkEx1{
    padding-left: 2%;
    background-color: white;
    
}
.left{
    float: left;
    width: 50%;
    padding-top: 0%;
    
    
     
}
.center-head{
    margin-left: 10%;
}
.range-all{
    margin-right: 0;
    background: yellow;
}


.worke-head{
    display: inline;
   
}
.right {
    float: right;
    width: 50%;
    padding-top: 0%;

    
}
.Edu{
        padding-left: 2%;
        background-color: white;
        margin-left: 5px;
        
    }
    .vl {
         width: 0px;
    border: 1px solid #2A437F;
    height: 800px;
    position: absolute;
    left: 708px;
       }
       i {
        background-color: grey;
        border-radius: 50%;
        border: 1px solid grey;
        padding: 10px;
      }
