.main
{
	display: block;
    margin:auto;
    margin-top:9px;
    margin-left:30% ;
    margin-right:30% ;
	overflow: hidden;
    padding-top: 9px;
    border:2px dotted white;
    border-radius:45px;
    background-color: black;
    align-self: center;
}


h1
{
    color: blanchedalmond;
}